.contact {
  padding: 50px 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;

  &_content {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 50px;
  }

  &_info {
    padding: 50px;
    background-color: $primary;
    color: #fff;

    &_title {
      font-size: 40px;
      font-weight: 500;
    }

    &_text {
      line-height: 1.5;
      margin-top: 10px;
    }

    &_list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 10px;

      &_title {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 20px;
      }
    }
  }

  &_form {
    padding: 50px;
    background-color: #f8f9fa;
    border: 5px solid rgba($primary, 0.8);

    &_title {
      font-size: 40px;
      font-weight: 500;
    }

    &_text {
      line-height: 1.5;
      margin-top: 10px;
    }

    & > form {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }

    &_input {
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 3px;
      margin-bottom: 20px;
      font-size: 15px;
    }

    &_group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_btn {
      align-self: flex-start;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
