.hero {
  background-color: #fff;
  padding: 50px 0;
  border-bottom: 1px solid #ddd;

  .container {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &_content {
    width: 40%;
  }

  &_title {
    font-size: 48px;
    color: $secondary;
    margin-bottom: 10px;
    line-height: 1.2;

    span {
      color: $primary;
    }
  }

  &_text {
    line-height: 1.6;
    color: #212529;
    margin-bottom: 10px;
  }

  &_media {
    width: 44%;
    &_img {
      width: 100%;
    }
  }
}
