.pricing {
  padding: 50px 0;

  &_content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    padding: 0 50px;
  }

  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    color: #fff;
    background-color: $primary;

    &_media {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      overflow: hidden;
      padding: 4px;
      position: relative;
      background-color: #fff;
      border: 1px solid #ddd;

      &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
      }
    }

    &_rating {
      color: #ffc107;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
      margin-top: 20px;
    }

    &_title {
      font-size: 16px;
      margin-top: 20px;
    }

    &_subtitle {
      font-size: 16px;
      font-weight: 600;
      margin-top: 15px;
      opacity: 0.6;
    }

    &_text {
      line-height: 1.5;
      margin-top: 40px;
    }
  }

  &_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid rgba($primary, 0.8);

    &_title {
      font-weight: 500;
      font-size: 22px;
    }

    &_price {
      font-size: 80px;
      color: $secondary;
      margin-top: 10px;
    }

    &_text {
      font-weight: 600;
      margin-top: 5px;
    }

    &_features {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 22px;
      font-weight: 500;
      margin-top: 20px;
      gap: 10px;
    }

    &_btn {
      margin-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
    }

    &_info {
      margin-top: 20px;
    }
  }
}
